body {
  background-color: #f0ece2;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-size: 40px;
  line-height: 1.5;
  color: #c7b198;
  font-family: "Great Vibes";
}

form {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba (65, 50, 100, 0.08);
  border-radius: 5px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 18px;
  border: 2px solid #c7b198;
  width: 80%;
  font-size: 20px;
  border-radius: 50px;
  line-height: 20px;
  color: #c7b198;
  font-family: "Amatic SC";
}

.submit-button {
  margin-left: 10px;
  background: #c7b198;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
  box-shadow: 0px 20px 60px rgba (65, 50, 100, 0.08);
}

.poem {
  font-size: 20px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  font-weight: 24px;
  border-left: 3px solid #c7b198;
  box-shadow: 0px 20px 60px rgba (65, 50, 100, 0.08);
  font-family: "Amatic SC";
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

a {
  color: #c7b198;
}

.line {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #dfd3c3, #c7b198, #dfd3c3);
  width: 60%;
  margin-bottom: 20px;
}
